{% extends 'polls/index.html' %}

{% block title %}Detail of Question {{question.id}} {%endblock %}

{%block content %}

    <h3 style = "color:purple;">{{question.question_text}}</h3>
    
    <form action = "{% url 'polls:vote' question.id %}" method = "post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type = "radio" name="choice" id = "choice{{forloop.counter}}" value ="{{choice.id}}"/>
            <label for = "choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
        {% endfor %}
        <input class = "btn btn-success" type = "submit" value = "Vote Now"/>
        {% if error_message %}<p class="poll-error" ><strong>{{error_message}}</strong></p>{% endif %}
    </form>

{%endblock %}

{% block css %}
    <style>

        p.poll-error{
            display:inline;
            color:white;
            background-color: red;
            width:300px;
            padding:9px;
            border-radius: 0.5em;

        }
    
    </style>
{% endblock %}